@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple page container */
body {
  @apply bg-slate-50 text-slate-800;
}

/* Smooth scrolling for in-page anchors */
html {
  scroll-behavior: smooth;
}
